[2021-11-24 16:45] mikeghen opened #1 "REX Protocol Repo Consolidation"
- All the contracts for REX products are spread across a few places
- This task involves consolidating it to a single “rex-contracts” repo
- Consolidate all the contracts into a single repository
- Upgrade everything to use ^v0.8.0
- May need to upgrade Superfluid contracts to ^0.8.0

[2021-11-24 16:48] mikeghen opened #2 "Internal Swaps, Two-sided Market"
Make the contracts support a 2-sided market where the input of tokenA is swapped internally for tokenB before sourcing liquidity to fill the swap.

Each contract in v2.0 should support two-way streaming. This means 1 contract address for both sides of a market. Both sides of the market accrue tokens in the contracts and they will be exchanged at the rate provided by the oracle. Any surplus will be

[2021-11-24 17:03] mikeghen opened #3 "Referral System"
This is an affiliate program. Fees paid by streamers will be shared with the affiliate that referred them.

This is used by people like FTX referrals links, something like: https://ricochet.exchange/?affiliateId=1

![a9744597-9631-4629-b710-e7ec8f723d04](https://user-images.githubusercontent.com/5077880/143282798-d477290e-f29c-4cf1-8cdb-c4eb00f8e4be.png)

The 2% fee taken maybe further slip into p

[2021-11-24 17:05] mikeghen opened #4 "Use IDA to distribute fees"
Fees sent to the DAO and affiliates should be sent using **IDA** distributions rather than ERC20 transfers.

The ERC20 transfers cost gas, it's better the fee collected is streamed to the DAO
 

![a9744597-9631-4629-b710-e7ec8f723d04](https://user-images.githubusercontent.com/5077880/143283136-aed03985-fce4-4b8c-8e32-44a8601e7199.png)

[2021-11-24 17:07] mikeghen opened #5 "Refactor Contracts to Support Strategies"
This task involves refactoring the REX contracts to implement inheritance and support the ability for "strategists" to implement integrations with other projects, yearn style:
<img width="1008" alt="Screen Shot 2021-11-24 at 12 06 00 PM" src="https://user-images.githubusercontent.com/5077880/143283474-86973d55-6bd3-4b0f-a00b-f3995736a18c.png">

[2021-12-10 13:12] mikeghen opened #6 "Refund Unswapped Amounts on Stream Close"
Right now, when a stream is closed, the funds streamed before closing a stream are lost. The best thing to do is refund them the unswapped input tokens.

[2021-12-17 14:40] mikeghen commented on #6
This should be implemented in `REXMarket.sol`

[2021-12-17 14:40] mikeghen commented on #5
I have the REXMarket contract code complete and compiling, it will still need testing and debugging, I also got the REXOneWayMarket contract which extends the base rex market contract to a code complete and compiling state, this one-way market is just the reimplementation of the existing market using the REXMarket as it's parent contract, have a look if youre interested

[2021-12-19 13:23] rashtrakoff opened #7 "REXMarket Test Suite"

[2021-12-19 21:10] abstractpoint commented on #3
Front End work is being scoped here: https://github.com/Ricochet-Exchange/ricochet-frontend/issues/145

[2021-12-22 13:19] vaibhavgeek commented on #6
I would like to try this out, @mikeghen

[2021-12-24 06:12] rashtrakoff commented on #6
How far along are you @vaibhavgeek ? I have this code ready in a hackathon project of mine (dSIP). If you need help, let me know 👍

[2021-12-24 07:01] vaibhavgeek commented on #6
@rashtrakoff I am opening a thread on discord regarding the same.

[2021-12-24 07:02] rashtrakoff commented on #6
I already did @vaibhavgeek

[2021-12-24 18:27] mikeghen commented on #4
We will need to integrate #3 into this, but first, lets focus on getting the v1 capabilities working, so just update the contracts to take a 2% fee on the input CFA

[2021-12-24 18:28] shreyaspapi commented on #3
I am working on it 👆

[2021-12-24 18:57] mikeghen commented on #7
Really nicely done in #8

[2021-12-24 18:57] #7 closed

[2021-12-24 18:59] mikeghen opened #9 "`REXOneWayMarket` Tests and Migration to Typescript"
This issue is about testing and debugging the `REXOneWayMarket` contract. The contract is mostly code complete with perhaps a few things missing. The code is untested and needs to be both tested and then anything not working should be debugged.

[2021-12-24 19:00] mikeghen opened #10 "`REXSushiFarmMarket` Testing and Migration to Typescript"
This issue is about testing and debugging the `REXSushiFarmMarket` contract. The contract is mostly code complete with perhaps a few things missing. The code is untested and needs to be both tested and then anything not working should be debugged.

[2021-12-24 19:11] mikeghen opened #11 "`REXMarket` Testing and Debugging"
This issue is about testing and debugging the`REXMarket` contract. The contract is mostly code complete with perhaps a few things missing. The code is untested and needs to be both tested and then anything not working should be debugged.

[2021-12-25 06:25] rashtrakoff commented on #11
I will take this one :+1: . If anyone else is interested in doing the same, let me know !

[2021-12-25 07:39] harshitsinghai77 commented on #3
I'm working on it with @shreyaspapi

[2021-12-27 19:40] mikeghen commented on #5
Safe to say this refactoring is done, just need to test and debug once all the old code is moved over

[2021-12-27 19:40] #5 closed

[2021-12-29 15:11] mikeghen opened #14 "REX Trade - Backend"
https://github.com/Ricochet-Exchange/ricochet-frontend/issues/96

[2021-12-30 15:04] mikeghen opened #17 "Install and setup hardhat-solhint"
Install this package so that contributors can run `npx hardhat check`  and this can be part of the continuous integration process, make it a check in github on PRs so unformatted code is physically cant be merged:
https://hardhat.org/plugins/nomiclabs-hardhat-solhint.html

[2021-12-30 16:30] josealonso commented on #17
I'm going to do this task.

[2021-12-30 17:56] josealonso commented on #17
I installed the "hardhat-solhint" package. I don't know if it's useful, since "solhint" was already installed. The rules are here: https://github.com/protofire/solhint/blob/master/docs/rules.md.
I also installed "prettier".

[2022-01-05 01:01] josealonso commented on #1
First attempt to consolidate all the contracts into a single repository. The repository name has not been changed yet.
@rashtrakoff and others, please check that he tests for the Rex Markets are still working. I couldn't test it myself, since I don't know how to do the setup for those tests. I recommend using Typescript in the tests.

[2022-01-05 01:13] josealonso commented on #1
I forgot to specify which files must be changed inside the *node_modules/@superfluid-finance* directory. I'll try to generate an npm package to install those files.

[2022-01-05 11:42] mikeghen commented on #4
OK, forget the previous comment, lets stick to IDA, there's some issues we might run into with CFAs, stick the the script

[2022-01-08 05:52] vaibhavgeek opened #20 "Refactor Tests and Rework on REXMarket.test.ts"
Currently the tests are not properly organised and worked upon. I checked the architecture of different solidity/hardhat projects and this is a proposal to make things more clean and easy to understand for new developers to jump on.

### File named misc/setup.ts

Reference: https://github.com/superfluid-finance/protocol-monorepo/blob/dev/packages/sdk-core/scripts/setup.ts

The setup function retur

[2022-01-08 16:38] vaibhavgeek commented on #20
This is being done in branch,
https://github.com/vaibhavgeek/ricochet-protocol/tree/features/rexTestMain

[2022-01-10 16:06] vaibhavgeek commented on #9
@mikeghen , can you assign this to me please?

[2022-01-11 19:30] josealonso commented on #1
- npm package created for ricochet contributors to use it instead of having to modify the node_modules directory of the Solidity project. More info ---> https://www.npmjs.com/package/ricochet-exchange-sfcontracts-used
    I tested in my local, following the instructions of the npmjs.com page mentioned above. And it compiles successfully, which makes me think the package is correct.
    I didn't ad

[2022-01-12 19:28] vaibhavgeek commented on #20
- File named misc/setup.ts  :white_check_mark:
The setup file is tested properly. It gives results as expected.

- File named misc/common.ts :white_check_mark:
The file has been tested for function of creating the registration key for superfluid contracts, the other functions are yet to be tested.

- Need to change the superfluid package to sdk-core from js-sdk :white_check_mark:
Superfluid packag

[2022-01-13 16:12] #2 closed

[2022-01-13 16:29] mikeghen commented on #4
The procedure for this would be:
1. On create/update, check the users `flowRate`
2. add `flowRate * 0.98` shares to the IDA pool
3. If there is a referrer:
   a. add `flowrate * 0.02 * 0.1` shares to the referrer (check their current shares and += to that)
   b. add `flowrate * 0.02 * 0.9` shares for the DAO (check its current shares and += to that)
4. Otherwise, a. add `flowrate * 0.02` shares fo

[2022-01-14 19:09] #20 closed

[2022-01-14 19:09] mikeghen commented on #6
I tested this works :+1: nice work all

[2022-01-14 19:09] #6 closed

[2022-01-15 14:00] mikeghen opened #28 "Remove `artifacts` directory from repository"
Not sure what I did but the artifacts directory shouldn't have been added, I believe I did it but this task is for someone to remove it from the repo

[2022-01-15 14:34] harshitsinghai77 commented on #3
I think we should close this issue?

[2022-01-16 13:30] shreyaspapi commented on #3
Still not complete merged to main.

[2022-01-17 14:35] rashtrakoff opened #32 "Best Practices and Audit Fixes (Smart Contracts)"
The issue is regarding styling and optimisation of smart contracts. Currently, the contracts aren't following best practices according to out style guide as well as linter. Also in some contracts, modest optimisations can be made such as converting some variables to constants and cutting down on number of parameters passed during initialisation. Further description will be provided in the PR comme

[2022-01-18 13:25] josealonso opened #34 "Create a customized npm package for the Superfluid contracts"
This package will be included in the *package.json* file, instead of the *@superfluid-finance/ethereum-contracts*  dependency. Some import sentences will be changed accordingly.
Advantage: not having to modify the *node_modules* directory every time the nm packages are installed.

[2022-01-18 13:25] josealonso commented on #34
I will do this task.

[2022-01-18 20:16] #28 closed

[2022-01-18 20:19] mikeghen commented on #3
This is complete, tested it and confirmed working

[2022-01-18 20:19] #3 closed

[2022-01-18 22:32] harshitsinghai77 commented on #32
We can add linter and other style practices in the Github Action. This will make sure the best practices are followed every time the PR is merged with the main branch.

[2022-01-19 00:24] josealonso commented on #32
@harshitsinghai77, I'm sure @rashtrakoff is doing his best to make sure the solidity code doesn't have any warnings and follows the best practices. I have my own rules in my linter, too. There are a lot of warnings right now.
But he's still improving and understanding @mikeghen's code. It's a work in progress.

[2022-01-19 01:06] josealonso commented on #34
Commit merged in the main branch of the *ricochet-protocol* repository.
How to test it:
- `npm install ricochet-exchange-sfcontracts-used`
- ```npx hardhat compile should work successfully```

[2022-01-19 04:34] rashtrakoff commented on #32
Yes, we actually discussed about this but I think using CI, we can probably only add linter and prettier tasks. Other style practices that I am talking about is a bit more abstract so it really depends on the creator of a contract. I think for CI, having linter and prettier check is enough @harshitsinghai77

[2022-01-19 11:41] mikeghen opened #36 "Add `setRateTolerance` method"
There needs to be a method to set the rate tolerance in the contract.

[2022-01-19 11:44] mikeghen opened #37 "Add `setFeeRate` and `setEmissionRate` methods"
This is from v1 contracts, in v1 this was an easy set. In v2, each output token can have fee rate or emission rate. So there needs to be an argument for `ouputPoolIndex` and `fee/emissionRate`

[2022-01-19 12:13] mikeghen opened #38 "Test all `require` statements"
This issue is to add tests so there's coverage testing the positive and negative case for each `require` statement in the protocol. This should be done in all the contracts, but start with `REXMarket` and `REXOneWayMarket` to claim this bounty.

[2022-01-19 13:06] vaibhavgeek commented on #9
RexMarket is a abstract contract so tests for both REXMarket and REXOneWayMarket would be covered in a single test file.

 Most of the functions listed below have been implemented in javascript [here](https://github.com/Ricochet-Exchange/ricochet-protocol/blob/main/test/REXOneWayMarket.test.js). The plan is to convert them to typescript and add more functions (listed below). Please feel free to ad

[2022-01-19 13:20] #34 closed

[2022-01-19 13:21] josealonso commented on #34
Closing this issue. I'll take care of any possible needed updates for this package.

[2022-01-19 19:32] josealonso commented on #9
I'm writing the tests for `REXTwoWayMarket`, based on the template provided by @vaibhavgeek

[2022-01-19 22:05] #1 closed

[2022-01-20 04:19] rashtrakoff commented on #37
I will take this next.

[2022-01-20 17:27] josealonso commented on #38
A new contributor called @r5n in discord is working on this.

[2022-01-20 20:18] #4 closed

[2022-01-21 13:44] rashtrakoff commented on #32
This issue has been solved for now (code was pushed to `ida-fees-2` branch). This will be closed once all contracts are ready and final style updates are made.

[2022-01-21 14:30] #14 closed

[2022-01-21 14:45] vaibhavgeek commented on #9
This uses typescript and superfluid sdk-core to test the changes, as of now on running

`npx hardhat test test/rexOneWayMarket.test.ts`

Three tests would pass, two fail out of the five written as the contract is still being written and formatted. This code can be replicated for RexTwoMarket as well @josealonso  and functions need to be added on the ones written already.

[2022-01-21 14:54] mikeghen opened #45 "Test and Debug Subsidy Output (i.e. output pool where `emissionRate > 0`)"
To add a subsidy to a REXOneWayMarket, you call `addOutputPool` with `feeRate == 0` and `emissionRate > 0` (see image)

Im fairly confident this is currently working fine since it used most of the code from v1, but it needs to be tested.

<img width="1403" alt="Screen Shot 2022-01-21 at 9 53 12 AM" src="https://user-images.githubusercontent.com/5077880/150547980-7e800c11-2ef6-440f-80b5-bbbf0c848b1

[2022-01-21 14:56] mikeghen opened #46 "Implement IDA fees and Referral System in `REXTwoWayMarket`"
This task involves implementing the IDA fees (#4) and the referral system (#3) into the `REXTwoWayMarket`. The two way market uses a lot of overrides, so the IDA fee and referral system need to be reimplemented. Use REXMarket's implementation of the IDA fees and referral system as a reference.

[2022-01-21 15:06] mikeghen opened #47 "Report code coverage when testing"
This issue is to add a way to run a coverage report when testing.

[2022-01-21 19:08] josealonso commented on #38
I temporarily assigned to me only to put an avatar. But @r5n is doing it, not me.

[2022-01-22 15:44] mikeghen opened #49 "Let customers claim their refund after closing the stream"
- one issue SF indentified in their review is the ERC20 transfer at the stream close, they suggest making it so people would have to claim this in a seperate transaction
- ws thinking a mapping with amount owed, and when theyre closing, it just increments amount owed for that wallet
- then add a `claimRefund` method

[2022-01-22 18:04] rashtrakoff commented on #32
This issue is tabled for later. Until all contracts are reviewed and stable, this issue will exist.

[2022-01-22 18:54] MrSquiggles13 commented on #38
@r5n dropped this issue I'm going to pick it up

[2022-01-22 19:52] josealonso commented on #47
Interested in this one. I might do it after finishing my current task.

[2022-01-22 23:38] josealonso opened #51 "Do some housekeeping on the main branch"
The **main** branch has some issues, including some Solidity compile errors. These errors are well-known by all the regular contributors.  But I think having the main branch with no errors is important, in order to facilitate the on-boarding to new Solidity contributors until the v. 2 is deployed to the world. The second reason is that an error-free **main** branch makes the merges with other acti

[2022-01-22 23:50] josealonso commented on #51
@mikeghen, please add a bounty value if you think this is valuable.

[2022-01-23 01:06] josealonso commented on #47
I'll finish this one next week. I want to keep on learning Superfluid, so I prefer light tasks for next week, including small frontend issues.

[2022-01-23 03:50] #37 closed

[2022-01-23 03:50] #36 closed

[2022-01-23 05:46] MrSquiggles13 commented on #10
After I finish the require testing I wanna give this a shot if that is ok

[2022-01-23 19:01] josealonso commented on #9
@vaibhavgeek and I are on it.

[2022-01-24 11:18] josealonso commented on #51
Although this was helpful, I wrongly made direct pushes on the main branch. It wasn't my intention, but it's a very bad practice. So I'm going to close this issue without claiming any bounty.

[2022-01-24 11:18] #51 closed

[2022-01-24 12:48] shreyaspapi commented on #46
Already done by @mikeghen , confirm in discord.

[2022-01-24 12:48] #46 closed

[2022-01-24 12:50] mikeghen opened #52 "Move Swap Methods to a Library"
From discord chat:
I'm thinking we need to have a REXSwapLibrary, these contracts are getting large, I think sushiswap interactions can be cherry-picked out into a library, would you take a look at this? I can make an issue

This would go into the ricochet-protocol repo, we don't need REXSuperSwap exactly, though it would look similar and might have some of the same functionality

It is all the RE

[2022-01-24 12:55] mikeghen commented on #52
What I think works:

[code]
Then in `REXMarkets`
[code]
Inside a function in REXMarket:
[code]

[2022-01-24 18:56] MrSquiggles13 commented on #52
On it

[2022-01-24 21:06] nikramakrishnan commented on #52
🚧 Work in progress!

[2022-01-24 22:35] MrSquiggles13 commented on #49
@vaibhavgeek progress on this issue?

[2022-01-24 22:39] MrSquiggles13 commented on #45
@vaibhavgeek status update on progress?

[2022-01-24 22:40] MrSquiggles13 commented on #10
@josealonso @rashtrakoff  status on progress?

[2022-01-25 02:34] rashtrakoff commented on #10
I am planning to start this today or tomorrow.

[2022-01-25 05:43] vaibhavgeek commented on #45
It's almost done, I will be raising the pull request by tomorrow.

[2022-01-25 05:43] vaibhavgeek commented on #49
I have understood the details properly, this will be done in the same PR as well.

[2022-01-25 13:44] mikeghen opened #54 "Contributor Guide"
Make a contributor guide `CONTRIBUTE.md`

[2022-01-26 15:46] rashtrakoff commented on #10
@MrSquiggles13 I am not gonna be able to start this on time and instead of squatting, I would like you to take up this issue provided @josealonso is ok with this. Just keep us posted using a thread on the Discord server. If you face issues, I can help you with that.

[2022-01-26 16:27] josealonso commented on #47
I will be using the community plugin recommended by hardhat ---> https://github.com/sc-forks/solidity-coverage

[2022-01-26 18:13] MrSquiggles13 commented on #10
@rashtrakoff thats fine by me ill work on it today

[2022-01-26 18:44] josealonso commented on #52
@nikramakrishnan, can I close this issue ? I read the discussions on discord, but not sure if more work has to be done. Thanks !!

[2022-01-26 18:48] josealonso commented on #10
That's fine, @rashtrakoff. I'm sorry I closed the issue for some seconds.

[2022-01-26 22:39] josealonso commented on #47
![image](https://user-images.githubusercontent.com/3770471/151258747-94fd0793-4e5b-4f56-a44c-259b87855210.png)
![image](https://user-images.githubusercontent.com/3770471/151259054-9a281d04-4754-48c6-a5e9-2c9581f50a85.png)

[2022-01-26 22:42] josealonso commented on #47
The web page generated on the *coverage* folder is the following

![image](https://user-images.githubusercontent.com/3770471/151259389-f8d09f86-66ca-4624-8348-dbffc18153fe.png)

[2022-01-27 16:22] josealonso commented on #47
Closing this issue.

[2022-01-27 16:52] nikramakrishnan commented on #52
#53 should have closed this, but I guess there was some issue. This can be closed.

[2022-01-27 16:57] #52 closed

[2022-01-28 14:50] mikeghen opened #61 "Support for Native Supertokens"
Currently the solidity contracts have output token as non native token that needs to upgraded and downgraded from the smart contract, however that's not true for native token.

**_Modify the smart contracts and write tests_** to make sure that support of superfluid native tokens such as RIC tokens is also present as output tokens along with non native supertokens.

[2022-01-30 01:03] mikeghen opened #62 "Streamed interest payments"
Claim this bounty by implementing streaming interest payments.

Borrowers must stream the interest payment on the borrowed funds in real-time. For example:
* Borrow $1000 at 12% APR
* Borrower streams $100/month in interest until they repay

What happens when the borrower doesn’t have enough to stream? On stream closure, if there’s unpaid interest, a steam from the bank to the owner of the bank op

[2022-01-30 01:05] sunnyjaycer commented on #62
I'll take this 🙋🏾‍♂️

[2022-01-30 19:28] vaibhavgeek commented on #49
This is already completed @mikeghen

[2022-01-30 19:28] #49 closed

[2022-01-30 19:34] shreyaspapi opened #64 "REXReferral - Emit ReferredCustomerRegistered and OrganicCustomerRegistered events"
Ok, good to know. Also was wondering how do we find out which accounts has a user referred? I tried building this on the /refer page but couldn't figure this out, so left it out for now. Any easy way to get this out of the contract?
I would like to show a table on the page, each row listing address and maybe block number when referred (or date)
shepardblue — Yesterday at 11:08 PM
oh, good question

[2022-01-30 19:35] mikeghen commented on #45
Will just reopen this, lets add a $500 bounty for doing this on the TwoWay market, since you did it once on OneWay this should be less work 🤞

[2022-01-30 19:51] josealonso commented on #11
This issue as stated doesn't make sense because the `REXMarket` contract is abstract. @rashtrakoff, @vaibhavgeek, any objections ?

[2022-01-30 19:58] josealonso commented on #45
I'm going to do it for the REXTwoWay market.

[2022-01-31 04:40] #64 closed

[2022-01-31 10:55] josealonso commented on #45
I'll leave it to @vaibhavgeek

[2022-01-31 10:57] #11 closed

[2022-01-31 10:59] josealonso commented on #9
@vaibhavgeek is doing the whole task.

[2022-01-31 11:48] josealonso commented on #17
I forgot to close this issue.

[2022-01-31 11:48] #17 closed

[2022-01-31 11:53] josealonso commented on #54
I'm going to do this one.

[2022-01-31 13:58] vaibhavgeek commented on #45
PR is raised for this issue: https://github.com/Ricochet-Exchange/ricochet-protocol/pull/59

[2022-01-31 14:40] vaibhavgeek opened #67 "REXTwoWayMarket Tests and Migration to typescript"
This issue is similar and there has been lot of work put into making common code (abstraction) for tests. Migrate the code to typescript using superlfuid `sdk-core` package, common `misc/` folder libraries and well documented code.

[2022-01-31 17:16] josealonso commented on #67
Working on this

[2022-02-01 11:45] #45 closed

[2022-02-09 03:42] sunnyjaycer commented on #62
Hey @mikeghen , shouldn't it be:

Borrow $1000 at 12% APR
Borrower streams **$10**/month (or $120/year) in interest until they repay

1000 * (1+12%) = $1120 -> $120 in interest over the year

[2022-02-09 10:53] josealonso commented on #32
@rashtrakoff, I assume this will be merge as soon as v.2 contracts are deployed, am I right ? Did you talk to @samirsalem about integrating this tasks in the CI tool ?

[2022-02-09 10:57] josealonso commented on #9
@vaibhavgeek, I think you finished this task, but it can't be merged yet. Do we have to wait until v.2 contracts are deployed, then ?

[2022-02-09 11:02] josealonso commented on #67
I still need to coordinate with @vaibhavgeek for this task.

[2022-02-09 11:04] rashtrakoff commented on #32
I guess you are right about merging this after V2 deployment but as the contracts have changed significantly since I created this PR/issue, the contracts need to be revisited.

Regarding CI, no I haven't but I think it's just the matter of checking for linter errors and warnings.

[2022-02-10 17:53] mikeghen opened #69 "Test TwoWayMarket with MATIC"
Matic is the native token on Polygon and Im not sure the REXTwoWayMarket is programmed to support it. There were some customizations I made in the v1 StreamExchange contracts to get MATIC working.

This bounty is for someone to create a test for the TwoWay market that verifies a MATIC<>USDC deployment works.

If there's any problems, resolve those issues before earning the bounty.

[2022-02-10 18:01] mikeghen opened #70 "USDC<>WBTC Listing"
This issue is to list the USDC<>WBTC market deployed here: https://polygonscan.com/address/0x1F001AfC25dC911fba6C86B9A81ad71Bb6DdAfD6

[2022-02-11 15:02] #70 closed

[2022-02-11 15:03] mikeghen commented on #10
Im going to close this issue, the sushiswap farm market isn't something we're ready to deploy, it was not a popular service

[2022-02-11 15:03] #10 closed

[2022-02-12 22:57] josealonso commented on #69
I need an unused registration key, since I get this error message right before deployment
[code]

[2022-02-13 00:26] josealonso commented on #69
Modified the common code to initialize a **MATIC<>USDC** market, replacing the existing *ETH<>USDC* one. Test cases NOT modified.

[2022-02-13 00:31] josealonso commented on #69
[code]
I get this error because the TC has not been modified.

@mikeghen, let me know which test cases -if any- are needed for this task/issue.

[2022-02-14 05:57] MrSquiggles13 commented on #38
@josealonso @mikeghen  told me not to do this one for some reason

I am willing to pick it back up if its allowed

[2022-02-14 11:28] josealonso commented on #38
@MrSquiggles13, thanks for letting us know. If you pick it back up, just make sure you have the time to work on it. There's an archived discord thread related to this issue. You might want to reopen it when you will start working on this task.

[2022-02-14 11:38] josealonso commented on #38
I just added the *question* label because the existing tests have to be migrated to **sdk-core**. The existing Superfluid's Javascript SDK is deprecated

[2022-02-14 23:33] mikeghen opened #72 "Super App Jailed on Liquidate Transaction"
This is a liquidate transaction for a streamer streaming to the WBTC TwoWay market: https://dashboard.tenderly.co/tx/polygon/0x57652089f1b7d55345c0201b96778cd48bb88a6f3addeda05202db9c6ac9f52f?trace=0.1.1.0.1.0.9.5.3.0.1.0.1.2.0.2.0.0.1.0.0.3.0.0.1.0.0

In Tenderly I've been reviewing the stack trace in the debugger but I'm still unable to find where the transaction fails. It appears to fail when g

[2022-02-15 23:52] josealonso commented on #69
Still working on this. Trying to understand all the intricate code in *REXTwoWayMarket.test.js*

[2022-02-17 00:04] josealonso commented on #67
@mikeghen said on discord ```type script tests are definitely a priority, the tests are so long and my most common errors would be caught with static typing```.

[2022-02-17 10:00] bigint opened #76 "Add issue and PR templates"

[2022-02-17 10:01] bigint opened #77 "Add GitHub actions for running tests in contracts"

[2022-02-17 10:01] bigint commented on #77
@mikeghen I'll work on this 🚀

[2022-02-17 14:23] #54 closed

[2022-02-20 01:03] josealonso commented on #67
Most of the code for the TC `"should distribute tokens to streamers"` is now migrated to the Superfluid Typescript SDK, a.k. **sdk-core**. But there's a nasty `Execute Transaction Error` when the start case starts. I don't know if this error is caused by the Polygon network or by my code, because the error message is not very meaningful:
[code]

[2022-02-20 01:06] josealonso commented on #67
The initialization (the *beforeEach* block) is working fine:
[code]

[2022-02-21 21:17] josealonso commented on #69
I will rewrite this test case using the new **sdk-core**

[2022-03-03 23:22] josealonso opened #81 "Upgrade to Tellor Flex"
Updated by @mikeghen:

There’s a new version of the Tellor Oracle contract on Polygon. This task is to integrate with the latest version of Tellor Oracle contract. The work for this is already done by the Tellor team, we just need to verify it works and then adjust the REX Keepers to report the prices we need. |  

[2022-03-08 01:01] josealonso commented on #67
Checked the `transfer` method is working, but not `createFlow`. My thanks to @vaibhavgeek and @rashtrakoff.

[2022-03-08 02:37] zhyd1997 opened #83 "Lock `node` version"
After talking with @josealonso, we should lock the `node` version to `16`:
https://discord.com/channels/862796510604296263/950407440455827526/950576938412568707

but there are many `16` minor versions, so for more stability and compatibility, I think we should use **specified** node version like `16.6.1` or else works for you instead of just using `16.x`.

What do you think of this? @mikeghen

I w

[2022-03-08 11:53] zhyd1997 commented on #83
Seems that `usingtellor` limits the `node` version lock.
https://github.com/Ricochet-Exchange/ricochet-protocol/blob/21bef8c63beb3f3cb5ac91b0247a946209159913/package.json#L53

<img width="677" alt="npm i" src="https://user-images.githubusercontent.com/31362988/157233112-f5ef6354-e6ef-45b0-8f87-e72497c43f56.png">
<img width="677" alt="npm ls contract" src="https://user-images.githubusercontent.com/

[2022-03-08 12:01] zhyd1997 commented on #83
In other words, we have no need to lock `node` version for `hardhat`?
https://hardhat.org/reference/stability-guarantees.html#node-js-versions-support

[2022-03-08 14:18] #72 closed

[2022-03-08 23:12] mikeghen commented on #83
@zhyd1997, I actually think we can get rid of usingtellor

[2022-03-08 23:12] mikeghen commented on #83
Yes, I like this

[2022-03-08 23:14] zhyd1997 commented on #83
Okay, waiting for codebase change.

[2022-03-09 15:51] josealonso commented on #67
First assertions passing, but the call to `_rexReferral` in `RexMarket.sol` has been commented.

[2022-03-10 22:47] zhyd1997 commented on #83
On the road:
https://github.com/tellor-io/usingtellor/pull/64

[2022-03-14 14:26] tkernell commented on #81
This PR https://github.com/Ricochet-Exchange/ricochet-protocol/pull/86 replaces #80.

[2022-03-15 17:39] josealonso commented on #67
The call to `_rexReferral` is working, but I have problems to choose the ETHX whale address in polygonscan.

[2022-03-20 22:57] mikeghen opened #89 "Use `updatePrices()` method instead of `updatePrice(token)`"
There's a method to update both prices at once called `updatePrices()`. This issue is to update the `ricochet_distribute_v2` workflow to use that method.

Both methods are supported for more advanced keeper oracle updates, i.e. updating 1 of the 2 prices separately

[2022-03-20 23:35] josealonso commented on #89
In the `REXTwoWayMarket` test files only `updatePrices()` is called. What Solidity file are you referring to, @mikeghen ?

[2022-03-20 23:37] josealonso commented on #89
Are you talking about the keepers ? This belongs to the `keepers` repository, @mikeghen, this one is `ricochet-protocol`

[2022-03-20 23:44] josealonso commented on #67
Mostly working now. The only thing left to do is commenting out the code related to the **delta** function, I don't know what that function does.

[2022-03-23 19:10] josealonso commented on #67
After @mikeghen's help, I consider this PR is ready to be merged.

[2022-03-23 22:25] josealonso commented on #67
New PR created, waiting for review.

[2022-03-28 22:24] #67 closed

[2022-03-28 22:27] josealonso commented on #9
The `REXOneWayMarket` contract is not currently used, so this issue might have to be closed. @mikeghen

[2022-04-12 21:18] josealonso commented on #32
Retaking this task, right after seeing the test suite have been migrated to **sdk-core** .

[2022-04-12 21:24] josealonso commented on #32
The plan is:
- Make the contracts smaller
- Use a single contract thanks to the Clone factory pattern
- In the mid-term, make it upgradeable.
Before all those steps, having a clean code with no warnings and a comprehensive test suite in sdk-core is very advisable.
**The scope of this issue is having a clean code and make the contracts smaller**
[code]

[2022-04-14 10:56] josealonso opened #92 "Use the V1 contracts"
The app currently uses the V2 contracts, but some of them have jail errors. This is not strange, since these contracts are very complex and a lot of testing has to be done to try to prevent all these errors. Building all these tests will take a big amount of time. Therefore, going back to the V1 contracts until the V2 ones are ready seems a plausible solution.

[2022-04-15 15:26] josealonso commented on #92
Version 1.3 of the contracts is on this repo ---> https://github.com/Ricochet-Exchange/ricochet/tree/main/01-Contracts/contracts. There are *only* three files, with no internal swaps or something overly complex.

[2022-04-25 15:26] josealonso commented on #92
I still think this option could be explored, especially because @rashtrakoff's code for a similar project uses a Factory and his code coverage is very high. But noone seems to care.

[2022-04-28 18:49] mikeghen commented on #9
All set with this, nice work @josealonso

[2022-04-28 18:49] #9 closed

[2022-05-04 16:56] mikeghen commented on #32
Closed because of inaction

[2022-05-04 16:56] #32 closed

[2022-05-04 16:56] mikeghen commented on #38
Closed because of inaction

[2022-05-04 16:56] #38 closed

[2022-05-04 16:56] mikeghen commented on #61
Closed because of inaction, I got this done in `REXTwoWayRICMarket.sol`

[2022-05-04 16:56] #61 closed

[2022-05-04 17:00] mikeghen commented on #69
Closed for inaction, I did this already its just in JS code not TS

[2022-05-04 17:00] #69 closed

[2022-05-04 17:00] #76 closed

[2022-05-04 17:00] mikeghen commented on #83
@zhyd1997, is this ready to merge?

[2022-05-04 17:00] #83 closed, assigned to nobody

[2022-05-04 17:01] mikeghen commented on #89
Closed, this is in the wrong repo

[2022-05-04 17:01] #89 closed, assigned to nobody

[2022-05-04 17:01] mikeghen commented on #92
Reopen this in the v1 repo  ricochet-exchange/ricochet if you want to pursue this

[2022-05-04 17:01] #92 closed, assigned to josealonso

[2022-05-04 17:09] mikeghen opened #94 "Revised Test Suite"
Improve the test suite by breaking up test cases, use Superfluid’s test suite as an example, and get to 90% code coverage at a minimum.

Example test suite outline:
<img width="644" alt="Screen Shot 2022-05-04 at 1 04 52 PM" src="https://user-images.githubusercontent.com/5077880/166741869-5850e3b8-443c-4322-80b9-236c22662f2e.png">

[2022-05-04 17:11] mikeghen opened #95 "Reduce Contract Size"
REX Market contracts are pushing the limits allowed for deployed contracts ~24.6 KB. This task is to reduce the contract sizes. This is required so that other features can be implemented. Right now the contracts are packed super tight.

Some guidance from a conversation I had with a dev:

Mike, [Apr 28, 2022 at 9:48:58 AM]:
1. The focus should be on REXMarket.sol, that contract gets extended by th

[2022-05-04 17:14] mikeghen opened #96 "Keeper Incentives"
Currently, keepers are paid a monthly stipend. Unfortunately, this isn’t a good incentive since keepers are getting paid regardless of their reliability. This task is to implement a pay-per-performance similar to other projects. Keepers should be paid a portion of the fees collected as part of the distribution method.

This will probably be tricky to do with IDA shares so I would suggest that this

[2022-05-04 17:16] mikeghen opened #97 "REX Market Factory"
The REXTwoWayMarket should be a permissionless deployment for token pairings, similar to how Uniswap Factory is used to deploy Uniswap Pairs. This task is to create a factory contract that will do the deployment.

Note: This bounty is for creating this on the backend, so it can be considered done without a frontend, just need to get it to a point where it can be used from a tool like Etherscan.

[2022-05-04 17:17] mikeghen opened #98 "REXTwoWayUniswapMarket Contract"
This task is to create a REX Two Way Market that sources liquidity from Uniswap V3.

[2022-05-04 17:19] mikeghen opened #99 "REXStakeDAOMarket Contract"
Create a market that lets customers stream directly into sdTokens that are staked to earn SDT rewards in stakedao's LP farms.

[2022-05-04 17:19] mikeghen opened #100 "REXIdleTokenMarket Contract"
Create a market where customers can stream DAI, USDC, and ETH directly into IdleTokens.

[2022-05-04 17:20] mikeghen opened #101 "REXAaveTokenMarket Contract"
Create a REX Market where customers can stream directly into Aave Tokens.

[2022-05-04 17:22] mikeghen opened #102 "Bring in REX Launchpad to this repo"
Migrate the REX Launchpad contract code into this ricochet-protocol repo. Currently the launchpad code is on a branch of the ricochet repo: https://github.com/Ricochet-Exchange/ricochet/tree/launchpad/04-Launchpad/contracts

[2022-05-04 17:23] mikeghen opened #103 "REX Launchpad Referral Integration"
This task involves integrating the REX Referral system into the REX Launchpad contracts, depends on #102.

[2022-05-04 17:38] zhyd1997 commented on #83
@mikeghen waiting for tellor publish new version npm package.

[2022-05-09 15:35] mikeghen commented on #100
I have most of the code for this so if anyone would like to try this hmu

[2022-05-09 15:38] mikeghen opened #104 "Mock for Protocol Tests"
This issue is dependant on #94

Implement mocks for the tests. Don't use mainnet forking and mock dependencies instead.

[2022-05-10 14:47] mikeghen opened #106 "0x0000 address set as referral"
The referral address is set to 0x0000 for organic customers. This causes a jailing. See: https://discord.com/channels/862796510604296263/962455829850763274/973407889651802112

[2022-05-16 13:33] mikeghen opened #108 "Use Constants in Deploy Scripts"
This tasks involves replacing all the constants hard coded in the scripts with constants from misc/Constants.ts

[2022-05-18 14:35] gitChimp88 commented on #108
@mikeghen Can I take this one? first time contributor here!

[2022-05-18 14:51] josealonso commented on #108
Of course, no need to ask. I think this a very good first issue. I created the **Constants.ts** file myself, feel free to ask here or on our discord server. Thanks for contributing !!

[2022-05-19 07:31] gitChimp88 commented on #108
I have a question, there are some unused variables in the script files, should these variables be added to the constants file and then link them in the script file or should I just delete any unused variables?
Also for variables that are used but are not in the constants file should I add these to the constants file and use them from there?

[2022-05-19 09:54] josealonso commented on #108
Sorry, @gitChimp88, I wrote my comment on your PR before reading your questions here. I would ask @mikeghen  those particular questions, because he wrote those contracts. Don't forget to tag him next time.

[2022-05-19 17:42] #94 closed, assigned to mikeghen

[2022-05-20 14:50] mikeghen commented on #108
@gitChimp88, @josealonso, thanks for this #109

[2022-05-20 14:52] mikeghen commented on #108
yes, thanks! Also submit for a RIC bounty here: https://docs.ricochet.exchange/business/bounty-hunters#completed-a-bounty

[2022-05-20 14:52] mikeghen commented on #106
fixed in #107

[2022-05-20 14:52] #106 closed, assigned to mikeghen

[2022-05-23 13:59] mikeghen commented on #108
@gitChimp88, I was just taking a look at this issue in the code and it would be great if you could go through and refactor all the constants used in the deploy scripts and put them into Constants.ts too for an additional $250 bounty, lmk if your interested

[2022-05-23 15:02] mikeghen commented on #102
I'm working on this and #103

[2022-05-23 15:02] mikeghen commented on #103
I'm working on this and #102

[2022-05-23 15:09] gitChimp88 commented on #108
@mikeghen Sure I can get started on that tomorrow! :)

[2022-05-23 15:40] mikeghen commented on #108
@gitChimp88 also, I definitely prematurely merged this I just tested this today and I get this error:
[code]
did you test to make sure your changes work?

[2022-05-23 15:43] mikeghen commented on #108
I'll revert this merge so the deploy scripts work, if you get the deploy scripts running with your changes, let me know

[2022-05-23 16:11] mikeghen opened #111 "REX Launchpad Tests"
This task involves writing tests for the REX Launchpad

[2022-05-23 16:14] #102 closed, assigned to mikeghen

[2022-05-23 21:32] josealonso commented on #108
@mikeghen, all the files must be in Typescript. Otherwise, the **Constants.ts** file will not work. I always try to use Typescript instead of Javascript because programming in a typed language is much faster, at least for me. Why are you still using *Javascript* files ?

[2022-05-24 07:40] gitChimp88 commented on #108
@mikeghen my bad I must have missed that, I made the changes and the pr is here - https://github.com/Ricochet-Exchange/ricochet-protocol/pull/113
I'm still having some trouble with the deploy scripts (I don't think it's to do with the constants)
This is the error message I get -
"Error: Returned error: error:0308010C:digital envelope routines::unsupported"

@josealonso I can refactor all scripts t

[2022-05-24 11:56] josealonso commented on #108
I refactored everything in TS. I'm going to make the PR now.

[2022-05-24 11:57] mikeghen opened #114 "Convert Scripts to Typescript, Use Constants.ts"
Remove the scripts crossed out below, convert the rest to TS, DM me with questions for how to test these scripts, it can be tricky, distribute.js is probably the easiest to test on your own, deploy-rextwowaymarket.js might be harder to test since we use the mainnet forking strategy.
<img width="289" alt="Screen Shot 2022-05-24 at 7 55 42 AM" src="https://user-images.githubusercontent.com/5077880/1

[2022-05-24 12:18] mikeghen opened #115 "Remove `artifacts` from Git"
Somehow the `artifacts` directory has slipped into the git history so PRs keep including a lot of noise from changes to this directory. This issue is to remove the `artifacts` directory from the git history so it no longer gets included in PRs.

[2022-05-24 12:18] mikeghen commented on #115
See #113 as an example of a PR that has this included

[2022-05-24 12:31] josealonso commented on #114
I didn't run the tests.

[2022-05-24 12:38] #114 closed, assigned to josealonso

[2022-05-24 12:51] gitChimp88 commented on #115
@mikeghen Seeing as it's my pr I can take a look at this one

[2022-05-24 13:16] gitChimp88 commented on #108
@josealonso okay i just merged it with your changes and fixed the gitignore issues too

[2022-05-24 16:02] #108 closed, assigned to gitChimp88

[2022-05-24 16:02] #115 closed, assigned to gitChimp88

[2022-05-27 17:04] josealonso commented on #114
I run the tests. Everything is working fine.

[2022-05-30 08:13] gitChimp88 opened #119 "Typescript errors in test files"
I'm looking at the tests in typescript and there seem to be a few errors e.g. -
in REXTwoWayMarket.test.ts
"Type 'Contract' is missing the following properties from type 'TellorPlayground': contractName, addTip, allowance, approve, and 24 more."
Do these need to be addressed? is anyone else seeing these errors?

[2022-05-30 09:47] josealonso commented on #119
@gitChimp88, these errors probably have to do with the *artifacts* directory. We are discussing this on our discord group.

[2022-05-30 11:37] josealonso commented on #119
I cloned the repo from scratch. I saw that error message when trying to run the tests. I added the test/artifacts directory back and it's now working. @mikeghen, you can close this issue if it's working for you.

[2022-05-30 12:13] gitChimp88 commented on #103
@mikeghen I made a start on the test with this pull request - https://github.com/Ricochet-Exchange/ricochet-protocol/pull/120

[2022-05-30 13:34] #119 closed, assigned to josealonso

[2022-06-08 11:11] gitChimp88 commented on #103
@mikeghen this pull request is now ready for review - https://github.com/Ricochet-Exchange/ricochet-protocol/pull/120

[2022-06-10 15:25] mikeghen commented on #95
Another way to save some space is to use the RexSuperSwap contract in the `_swap` method since that contract handles upgrade/downgrade

[2022-06-10 15:28] josealonso commented on #95
@mikeghen, did you break up the contract in a helper one and a storage one ?

[2022-06-13 22:52] mikeghen opened #127 "REX Super Swap Enhancements"
- [ ] Bring over the REXSuperSwap contract from https://github.com/Ricochet-Exchange/ricochet-super-swap into this repository (Might be challenging since some of Uniswap v2 uses v0.7 and we use v0.8 solc)
- [ ] Write tests for just the REXSuperSwap contracts
- [ ] Improve the swap method of REXSuperSwap, currently I don't think it properly handles:
    - [ ] Native supertoken swaps (i.e. RIC to US

[2022-06-28 12:58] gitChimp88 commented on #111
@mikeghen I have a pr open for this - https://github.com/Ricochet-Exchange/ricochet-protocol/pull/128

[2022-06-29 13:44] gitChimp88 commented on #127
@mikeghen I'm currently working on this, should have a pr this week

[2022-07-05 23:49] shreyaspapi commented on #96
Can we close this one? As distributions are managed by Gelato I don't think we need this anymore.

[2022-08-06 21:12] mikeghen opened #130 "Alluo Integration"
Create Markets for:

* USDCx<>ibAlluoUSD
* ibAlluoUSD<>ibAlluoETH
* ibAlluoUSD<>ibAlluoWBTC

Notes:
* In place of upgrade/downgrade of these supertokens, use deposit and withdraw to go from ibAlluoXXX to XXX for the swap.
* USDCx<>ibAlluoUSD should take a very small fee

[2022-08-08 02:02] sunnyjaycer commented on #62
Hey @mikeghen, changed my mind. Will be resuming work on this later this week.

[2022-09-05 15:21] #103 closed, assigned to mikeghen

[2022-09-05 15:21] #111 closed, assigned to nobody

[2022-09-15 07:46] gitChimp88 commented on #104
Working on this - https://github.com/Ricochet-Exchange/ricochet-protocol/pull/132

[2022-10-12 15:51] #130 closed, assigned to mikeghen

[2022-10-12 15:52] #100 closed, assigned to mikeghen

[2022-10-12 15:52] #101 closed, assigned to nobody

[2022-10-12 15:52] #62 closed

[2022-10-12 15:53] #99 closed, assigned to nobody

[2022-10-12 15:56] #95 closed, assigned to nobody

[2022-10-12 19:53] mikeghen opened #135 "Use UniswapV3 Oracle"